{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesMatch</title>
    <link rel="stylesheet" href="{% static 'matchapp/css/style.css' %}">
    <script type="text/javascript" src="{% static 'matchapp/js/script.js' %}"></script>
</head>
<body>
    <!--div class="backgound">
    <img src="{% static 'matchapp/img/fundo2.png' %}"-->
        <div class="navbar">
            <table class="tbHead" width="100%">
                <tr>
                    <td width="50%">
                        <img src="{% static 'matchapp/css/img/logo2.png' %}" alt="logo" align="left">
                    </td>
                    <td class="bntPrincipais" width="50%">
                        {% if user.is_aitenticated %}
                        Olá, {{user.get_username}}
                        <a href="{% url 'logout' %}">Sair</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login  |</a>
                            <a href="{% url 'perfil_add' %}">Cadastro</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    <br>
        {% block content %}
        {% endblock %}
    <footer>
        <div align="center">
            <p><a href="mailto:admiel@bol.com.br">&copy; GamesMatch 2022</a></p>
        </div>
    </footer>
    <!--/div-->
<!--script type="text/javascript" src="{% static 'matchapp/js/script.js' %}"></script-->
</body>
</html>