{% extends 'base.html' %}
{% block content %}

<br>
    <div class="match" align="center">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Nesciunt, id dolorem? Perspiciatis deleniti maxime pariatur reprehenderit eum commodi quod,
            cum necessitatibus similique ratione ut exercitationem ullam animi, ex eos ipsa?
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Tempore aliquam placeat eos est atque mollitia rerum repellat numquam distinctio
            esse fugit consequuntur odit quisquam velit in animi laudantium, vero voluptates!
        </p>
    </div>

{% endblock %}