{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- tela de login -->
    <div class="screen">
        <!-- formulário de login -->
        <form class="form">
            {% csrf_token %}
            <h1 class="title">GamesMatch</h1>
            {% if messages %}
            {% for m in messages %}
                <div style="background-color: red; font-size: 20px; color: white; text-align: center;">
                    {{ m }}
                </div>
                <br>
            {% endfor %}
            {% endif %}
            <h3 class="title">Faça login para continuar</h3>
            <input name="usuario" type="text" placeholder="Nickname" class="inputs" minlength="1" title="Digite seu Nickname, se esqueceu, clique em esqueci senha"/>
            <input name="senha" type="password" placeholder="Senha" class="inputs" minlength="1" title="Digite sua senha, se esqueceu, clique em esqueci senha"/>
            <button type="submit" class="btn">Entrar</button>
            <a href="mailto:ad miel@bol.com.br">Esqueceu sua senha?</a>
            <div style="background-color: rgba(0, 0, 0, 0.192)">
                <p class="description">Não tem uma conta? Clique em  <a href="{% url 'perfil_add' %}">CRIAR</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}