{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <!-- tela de login -->
    <div class="screen">
        <!-- formulário de login -->
        <form class="form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for m in messages %}
                <div style="background-color: red; font-size: 20px; color: white; text-align: center;">
                    {{ m }}
                </div>
            {% endfor %}
            {% endif %}
            <h3 class="title">Faça login para continuar</h3>
            <input name="usuario" type="text" placeholder="Nickname" class="inputs" minlength="1" title="Digite seu Nickname, se esqueceu, clique em esqueci senha"/>
            <input name="senha" type="password" placeholder="Senha" class="inputs" minlength="1" title="Digite sua senha, se esqueceu, clique em esqueci senha"/>
            <button type="submit" class="btn" onclick="login()" >Entrar</button>
            <p>Entre com uma de suas redes sociais:</p>
            <div class="redesImg">
                <img src="{% static 'matchapp/css/img/google.png' %}" title="Entre com a conta google" alt="entrar com google">
                <img src="{% static 'matchapp/css/img/outlook.png' %}" title="Entre com a conta outlook" alt="entrar com outlook">
                <img src="{% static 'matchapp/css/img/icloud.png' %}" title="Entre coma conta icloud" alt="entrar com icloud">
                <img src="{% static 'matchapp/css/img/linkedin.png' %}" title="Entre com a conta linkedin" alt="entrar com linkedin">
                <img src="{% static 'matchapp/css/img/facebook.png' %}" title="Entre com a conta facebook" alt="entrar com facebook">
            </div>
            <a href="mailto:admiel@bol.com.br">Esqueceu sua senha?</a>
            <div style="background-color: rgba(0, 0, 0, 0.192)">
                <p class="description">Não tem uma conta? Clique em  <a href="{% url 'perfil_add' %}">CRIAR</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}