{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- tela de login -->
    <div class="screenPerfil">
        <div>
            <h1>Perfis cadastrados:</h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th> NICKNAME </th>
                        <th> GAME1 </th>
                        <th> PONTUACAO1 </th>
                        <th> GAME2 </th>
                        <th> PONTUACAO2 </th>
                        <th> ZONE </th>
                        <th> NOME </th>
                    </tr>
                </thead>
                <tbody>
                    {% for perfil in perfis %}
                    <tr>
                        <td>{{ perfil.nickname }}</td>
                        <td>{{ perfil.game1 }}</td>
                        <td>{{ perfil.pontuacao1 }}</td>
                        <td>{{ perfil.game2 }}</td>
                        <td>{{ perfil.pontuacao2 }}</td>
                        <td>{{ perfil.zone }}</td>
                        <td>{{ perfil.nome }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <a href="{% url 'home' %}">Página inicial</a>
        </div> 
    </div>
</div>
{% endblock  %}