{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="screenPerfil">
        <div>
            <h1>Perfis cadastrados:</h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th> NICKNAME </th>
                        <th> NOME </th>
                        <th> CPF </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for perfil in perfis %}
                    <tr>
                        <td>{{ perfil.nickname }}</td>
                        <td>{{ perfil.nome }}</td>
                        <td>{{ perfil.cpf }}</td>
                        <td>
                            <button style="background-color: greenyellow;" name="editar"
                            onclick="location.href='{% url 'perfil_edit' %}'" >Editar</button>
                        </td>
                        <td>
                            <button style="background-color: red;" name="editar"
                            onclick="location.href='{% url 'perfil_del' %}'" >Excluir</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <a href="{% url 'home' %}">Página inicial</a>
        </div> 
    </div>
</div>
{% endblock  %}