{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- tela de login -->
    <div class="screenCadPerfil">
        <!-- formulário de login -->
        <form class="form" action="{% url 'perfil_add' %}" method="POST">
            {% csrf_token %}
            <h1 class="title">Cadastre-se no GamesMatch</h1>
            {% if messages %}
            {% for m in messages %}
            <div style="background-color: red; font-size: 20px; color: white; text-align: center;">
                {{ m }}
            </div>
            <br>
            {% endfor %}
            {% endif %}
            <input name="nome" type="text" placeholder="*Seu nome completo" class="inputs" />
            <input name="email" type="email" placeholder="*Seu email" class="inputs" />
            <input name="senha" type="password" placeholder="*Uma senha" class="inputs" />
            <input name="cpf" type="text" placeholder="*CPF, somente números" maxlength="11" minlength="11" class="inputs" />
            <input name="game1" type="text" placeholder="*Seu game favorito" class="inputs" />
            <input name="pontuacao1" type="number" placeholder="*Seus pontos no game favorito" class="inputs" />
            <input name="game2" type="text" placeholder="Tem outro favorito? Digite aqui!" class="inputs" />
            <input name="pontuacao2" type="number" placeholder="Seus pontos, não pode ser fake einh ;-)" class="inputs" />
            <input name="dat_nasc" type="date" class="inputs" />
            <input name="nickname" type="text" placeholder="*Nickname" class="inputs" />
            <input name="image" type="button" value="Enviar uma imagem" class="inputs" />
            <input name="cep" type="text" placeholder="CEP, somente números" maxlength="8" minlength="8" class="inputs" />
            <input name="endereco" type="text" placeholder="Seu endereço completo" class="inputs" />
            <input name="zone" type="text" placeholder="*Zona, tipo, zona-leste, oeste..." class="inputs" />
            <button class="btn" type="submit" onclick="savePerfil()">criar</button>
            <p>* Obrigatórios</p>
            <div style="background-color: rgba(0, 0, 0, 0.192)">
                <p class="description">Desistiu de criar o pefil? Volte para  <a href="{% url 'home' %}">HOME</a></p>
            </div>
        </form>
</div>
{% endblock %} %}