{% extends 'base.html' %}
{% block content %}

    <!--div class="form_perfil_add">
        <h4>Cadastrar Perfil</h4>
        <hr>
        <--form action="" method="POST">
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bnt-save" type="submit">Salvar</button>
            <a href="{% url 'home' %}"></a><button class="bnt-cancel">Cancelar</button></a>
        </form>
    </div-->

    <section>
        <div class="headCadPerfil">
            <h1>Cadastre seu perfil no GamesMatch:</h1>
            <hr>
        </div>
        {% if messages %}
        {% for m in messages %}
        <div style="background-color: red; font-size: 20px;
        color: white; text-align: center; border-radius: 10px;">
            <br>
            {{ m }}
            <br>
            <br>
        </div>
        {% endfor %}
        {% endif %}
        <div class="cadPerfil">
            <form action="{% url 'perfil_add' %}" method="POST">
                {% csrf_token %}
                <div>
                    <p>NOME: <input type="text" name="nome" placeholder="Seu nome completo"></p>
                    <p>CPF: <input type="number" name="cpf" placeholder="Somente números" maxlength="11"></p>
                    <p>GAME1: <input type="text" name="game1"></p>
                    <p>PONTUAÇÃO1: <input type="number" name="pontuacao1"></p>
                    <p>GAME2: <input type="text" name="game2"></p>
                    <p>PONTUAÇÃO2: <input type="number" name="pontuacao2"></p>
                    <p>DATA DE NASCIMENTO: <input type="date" name="dat_nasc"></p>
                    <p>NICKNAME: <input type="text" name="nickname" placeholder="Apelido na net"></p>
                    <p>FOTO: <input type="button" name="image" value="Imagem para perfil"></p>
                    <p>CEP: <input type="number" name="cep" placeholder="Somente números" maxlength="8"></p>
                    <p>ENDEREÇO: <input type="text" name="endereco"></p>
                    <p>ZONE: <input type="text" name="zone" placeholder="Zonas da sua cidade"></p>
                </div>
                <hr>
                <center>
                    <button class="bnt-submit" type="submit" onclick="savePerfil()">Salvar</button>
                    <a href="{% url 'home' %}" <button class="bnt-cancel">Cancelar</a>
                </center>
            </form>
        </div>
    </section>
{% endblock %} %}