body{
  min-height: 100%;
  background-image: url('fundo2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

footer{font-style: italic;}

/*tirando sublinhado de todos os links*/
a {text-decoration: none;}

.bntPrincipais{text-align:right;}

.navbar{background-color: rgba(135, 255, 135, 0.363);}