body{
	margin: 10px;
	min-height: 100%;
	background-image: url('img/fundo2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

/*tirando sublinhado de todos os links*/
a{
	text-decoration: none;
	color: lightgray;
	font-size: 18px;
}

a:hover{
	color: white;
}

p {
	color: white;
}

.bntPrincipais{
	text-align:right;
}

.navbar{
	/*background-color: rgba(135, 255, 135, 0.363);*/
	width: 99%;
	background: linear-gradient( rgba(2, 252, 23, 0.774), rgba(0, 0, 139, 0.733));
	box-shadow: 10px 10px 10px black;
	border-radius: 30px;
	position: fixed;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
	color: white;
}

.container{
	width: 100%;
	height: 100%;
	align-items: center;
}

.screen{
	width: 300px;
	background: linear-gradient( rgba(0, 0, 139, 0.733), rgba(2, 252, 23, 0.774));
	border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 50px;
	color: #fff;
	align-items: center;
	line-height: 50px;
	box-shadow: 10px 10px 10px black;
}

.redesImg {
	background-color: rgba(0, 0, 0, 0.192);
	align-items: center;
	width: auto;
	display: flex;
	justify-content: center;
	column-gap: 12px;
}

.redesImg img {
	width: 40px;
	border-radius: 100%;
}

.screenCadPerfil{
	width: 500px;
	background: linear-gradient( rgba(0, 0, 139, 0.733), rgba(2, 252, 23, 0.774));
	border-radius: 15px;
	text-align: center;
	color: #fff;
	align-items: center;
	box-shadow: 10px 10px 10px black;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	left: 35%;
}

.screenHome {
	width: 1200px;
	background: linear-gradient( rgba(0, 0, 139, 0.733), rgba(2, 252, 23, 0.774));
	border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 10px;
	color: #fff;
	align-items: center;
	line-height: 50px;
  	box-shadow: 10px 10px 10px black;
}

.screenPerfil {
	width: max-content;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background: linear-gradient( rgba(0, 0, 139, 0.733), rgba(2, 252, 23, 0.774));
	border-radius: 15px;
	color: white;
  	box-shadow: 10px 10px 10px black;
	line-height: 10px;
}

.form{
	display: contents;
	flex-direction: column;
}

.inputs{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
}

.btn{
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	background: linear-gradient(to right, rgb(255, 68, 0), rgb(195, 0, 255));
	cursor: pointer;
}

.description{
	color: lightgray;
	font-size: 15px;
	margin-top: 0px;
}

.description a{
	font-weight: 700;
}

footer {
	font-style: italic;
	position: fixed;
	bottom: 0;
	background-color: black;
	width: 100%;
	height: 35px;    
	text-align: center;
	line-height: 100%;
}