body{
  margin: 10px;
  min-height: 100%;
  background-image: url('img/fundo2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

section {
  background: rgba(135, 255, 135, 0.363);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  margin-bottom: 70px;
}

/*footer{
  background-color: black;
  font-style: italic;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
}*/
footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  color: #FFF;
  width: 100%;
  height: 35px;    
  text-align: center;
  line-height: 100%;
}

/*tirando sublinhado de todos os links*/
a {text-decoration: none;}

.bntPrincipais{text-align:right;}

.navbar{background-color: rgba(135, 255, 135, 0.363);}

/*.match{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgba(135, 255, 135, 0.363);
  width: 80%;
  line-height: 50px;
  align-items: center;
  margin-left: 10%;
}

.pefilAdd {
  width: 30%;
  height: 600px;
  background: rgba(135, 255, 135, 0.363);
  margin-bottom: 100px;
}*/

/*-------------implementa aqui nesse espaço o estilo da tela login e login_add-------------*/




/*-------------------------------------------------------------------------------------------*/